@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --swiper-navigation-size: 50px;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#header {
  font-family: 'Anton', sans-serif;
  text-decoration: underline;
  letter-spacing: 0.3em;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px 50px;
  border-radius: 20px;
  color: #0f41b4;
  text-shadow: 20px 10px 20px #0b516f;
}

.header-img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.header-h1 {
  text-align: center;
}

/* app */

.container {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

/* label */

.label-location {
  padding: 0 15px;
  display: flex;
  gap: 12px;
  height: min-content;
}

#input-submit {
  border-radius: 10px;
  border: none;
  padding: 5px 20px;
  background: #0f41b4;
  font-weight: 900;
  color: #cae6ea;
}

#input-submit:hover {
  background: #cae6ea;
  color: #0f41b4;
}

#location-input {
  padding: 10px;
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  background: #cae6ea;
  font-weight: 900;
}

/* swiper  */

.swiper {
  width: 100vw;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.weather-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 150px 50px 100px;
  backdrop-filter: blur(10px);
  font-weight: bold;
  color: #fff;
}

.weather-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 99%;
  height: 92%;
  background: no-repeat center;
  background-size: cover;
  z-index: -999;
  filter: blur(15px);
  border-radius: 50px;
}

.weather-h2 {
  position: absolute;
  top: 40px;
  top: 60px;
  left: 30px;
  width: 100%;
  font-size: 2em;
  font-size: 1.3em;
  text-align: center;
  z-index: 100;
}

.pr-div {
  display: grid;
  grid-auto-rows: 50px;
  gap: 10px;
  padding: 20px;
  border-radius: 18px;
  align-items: flex-start;
  justify-content: center;
  background: #00000080;
  backdrop-filter: blur(10px);
}

.icon {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -20%;
  top: -10%;
  font-weight: 900;
  align-self: flex-start;
  justify-self: flex-start;
}

.icon-li {
  font-weight: 900;
  width: 30px;
  height: 30px;
}

.pr-information {
  text-align: center;
  font-size: 1em;
}

.pr-information.day {
  font-size: 1.3em;
}

.weather-ul {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  border-radius: 18px;
  padding: 2em;
  gap: 12px;
  list-style-type: none;
  background: #00000080;
  backdrop-filter: blur(10px);
}

.weather-ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.li-day {
  width: 100%;
  height: min-content;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #header {
    justify-content: stretch;
    width: 70%;
  }

  .container {
  width: 95vw;
  padding: 100px 0;
  }

  .header-img {
    height: 300px;
    width: 300px;
    margin-left: 50px;
  }

  .header-h1 {
    position: absolute;
    left: 30%;
    top: 120px;
    font-size: 80px;
  }

  .swiper {
    width: 90%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #808;
    display: flex;
  }

  .weather-container {
    justify-content: space-around;
    padding: 150px 100px 100px;
  }

  .weather-h2 {
    top: 40px;
    font-size: 2em;
  }

  .pr-div {
    flex-grow: 0;
  }

  .pr-information {
    font-size: 1.3em;
  }

  .pr-information.day {
    font-size: 1.8em;
  }

  .icon {
    width: 200px;
    height: 200px;
    left: -23%;
    top: -20%;
  }
}

@media screen and (min-width: 981px) {
  .weather-container {
    padding: 100px;
  }
}
